{% extends "layouts/default.html" %}
{% block title %}Welcome to Language Popularity{% endblock %}
{% block content %}
  <div id="main">
    Welcome to Lang Pop (built with <a href="http://8arrow.org/caveman/">Caveman2</a>)!

    <p>
      Try visiting <a href="/compare/haskell/lisp/prolog">/compare/haskell/lisp/prolog</a> and updating
      to your liking to pull out various comparisons and pie charts!
    </p>
    (hint: you can add many more, just keep adding /something to the end)
  </div>
{% endblock %}
